- if can? :update, group
  %div
    %h2= "Current Leaders"
    %table.table
      %tr
        %th= "name"
        %th= "phone"
        %th= "email"
      - group.leaders.each do |leader|
        %tr
          %td= "#{leader.firstname} #{leader.lastname}"
          %td= leader.phone
          %td= leader.email
