%h1= "Edit group"

%div.col-md-6
  %div.form_container
    = render 'form', group: @group

%div.col-md-6
  = render partial: "leaders_list", locals: {group: @group}
  = form_tag edit_group_path, method: :get do
    %p
      = text_field_tag :search, params[:search], placeholder: "Search for leaders", id: "leader_search"
      = submit_tag "Go", :name => nil


  / = render partial: "search_leaders"

  %div#leaders
    - unless @search_leaders.nil?
      %ul
        - @search_leaders.each do |leader|
          %li
            = "#{leader.firstname} #{leader.lastname}"
            = button_to("invite", { controller: "groups_leaders", action: "invite", id: @group.id, invitee_id: leader.id }, class: "btn btn-info btn-xs")
